
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: inline-block;
    margin-top: 100px;
    margin-left: 450px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(122, 122, 122);
    text-align: center;
}

form > input{
    font-size: 17px;
    padding: 5px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

form > button{
    padding: 5px;
    width: 400px;
    background: rgb(9, 226, 9);
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

form > button:hover{
    background: rgb(60, 236, 60);
}