
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

form {
    display: inline-block;
    margin-top: 100px;
    margin-left: 450px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(182, 180, 180);
    text-align: center;
}

@media (max-width: 678px){
    form{
        display: inline-block;
        margin-left: 20px;
        padding: 15px;
        width: 90%;
        background: rgb(187, 186, 186);
    }

    form > h2{
        margin-top: 10px;
    }

    form > input{
        font-size: 14px;
        padding: 3px;
    }

    form > button {
        padding: 3px;
        width: 80%;
        width: 350px;
    }
}

form > i{
    font-size: 20px;
}

form > input{
    font-size: 17px;
    padding: 5px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

form > button{
    padding: 5px;
    width: 400px;
    background: rgb(9, 226, 9);
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

form > button:hover{
    background: rgb(60, 236, 60);
}