
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
    background: #00FF00;
    padding: 20px;
}

header > h1{
    font-size: 35px;
}

header > p{
    margin-top: 5px;
    font-size: 20px;
}

header > button{
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid black;
    background: rgb(51, 245, 51);
    border-radius: 20px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}

header > button > a{
    text-decoration: none;
    color: black;
}

#container{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background: rgb(197, 195, 195);
}

#container > h2{
    font-size: 40px;
    padding: 10px;
    background: rgb(160, 160, 160);
}

.cart{
    display: inline-block;
    box-shadow: 2px 2px 2px;
    background: rgb(221, 219, 219);
    border-radius: 20px;
    padding: 10px;
    margin: 15px;
    border: 2px solid black;
}

.cart > p{
    font-size: 17px;
    font-weight: 600;
}

a > button{
    padding: 5px;
    background: rgb(180, 179, 179);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}

.cart > button:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .cart{
        display: block;
        width: 90%;
        margin: 10px auto;
    }
}

#container2{
    background: rgb(197, 195, 195);
    text-align: center;
}

#container2 > h2{
    text-align: center;
    background: gray;
    padding: 10px;
    font-size: 38px;
}

.promocao{
    display: inline-block;
    margin: 15px;
    padding: 10px;
    box-shadow: 2px 2px 2px;
    border-radius: 20px;
    border: 2px solid black;
    background: rgb(206, 204, 204);
}

.promocao > p{
    text-align: center;
    font-weight: 700;
}

.promocao > button{
    padding: 5px;
    text-align: center;
    background: rgb(197, 196, 196);
    border-radius: 20px;
}

#depoimentos{
    background: rgb(202, 202, 202);
    padding: 25px;
}

#depoimentos > h2{
    padding: 10px;
    text-align: center;
    background: rgb(141, 141, 141);
    font-size: 34px;
    text-align: center;
}

.depoimentos-site{
    display: inline-block;
    background: rgb(155, 155, 156);
    height: 200px;
    margin-left: 100px;
    padding: 5px;
    border-radius: 20px;
    width: 500px;
    border: 7px double black;
}

.depoimentos-site > img{
    width: 70px;
    margin-top: 10px;
    border-radius: 70%
}

.depoimentos-site > h2{
    margin-top: -70px;
    margin-left: 80px;
}

.depoimentos-site > p{
    margin-left: 80px;
}


.rating{
    position: absolute;
    margin-top: -30px;
    margin-left: 300px;
    font-size: 20px;
}

