<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>Cabeleireiro</title>
</head>
<body>
    <header>
        <h1>Hair</h1>
        <p>Agende seu horário rápido e fácil diretamente pelo site</p>
        <button> <a href="/perfil"> Criar Perfil </a></button>
    </header>
    <section>
        <div id="container">
            <h2> <i class="fas fa-cut"></i> Serviços Oferecidos</h2><br><br>
            <div class="cart">
                <h2>Corte de Cabelo</h2><br>
                <p>Corte de Cabelo masculino e feminino.</p><br>
                <p>R$30 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div>

            <div class="cart">
                <h2>Unhas</h2><br>
                <p>Serviço de Unhas (Mão e Pé)</p><br>
                <p>R$35 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div>

            <div class="cart">
                <h2>Progressiva</h2><br>
                <p>Progressiva para cabelo feminino</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Escova</h2><br>
                <p>Escova para cabelo feminino</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Sobrancelha</h2><br>
                <p>Serviço de Sobrancelha</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Mechas - Luzes - Reflexos</h2><br>
                <p>Oferecemos Luzes, Mechas e Reflexos pra todos</p><br>
                <p>R$100 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 
        </div>
    </section>

    <section>
        <div id="container2">
            <h2> <i class="fas fa-cut"></i> Promoções</h2>
            <br><br>
            <div class="promocao">
                <h2>Toda Quarta-Feira</h2><br>
                <p>Corte de Cabelo</p><br>
                <p>R$25 reais</p><br>
            </div>

            <div class="promocao">
                <h2>Mês Aniversário</h2><br>
                <p>No mês do seu Aniversário ganha 10% de desconto</p><br>    
            </div>

            <div class="promocao">
                <h2>Corte + Barba</h2><br>
                <p>Corte de Cabelo + Barba. Venha Aproveitar</p><br>
                <p>R$70 reais</p>    
            </div>
        </div>
    </section>

    <section id="depoimentos">
        <h2> <i class="fa-solid fa-star"></i> Avaliações <button id="criar_avaliacao"> <a href="#">Criar Avaliação</a> </button> </h2><br>

        <div class="depoimentos-site">
            <img src="/static/foto_perfil.jpg" alt="">
            <h2>Bruno Melo</h2>
            <p>Cliente Satisfeito</p><br>
            <p class="descricao">Agendei meu horário no Hair e foi super tranquilo. O site é direto, fácil de usar e sem complicações. Recomendo!</p>
        </div>
        <div class="depoimentos-site">
            <img src="/static/depoimento.jpg" alt="">
            <h2>Maria Luiza</h2>
            <p>Cliente Satisfeito</p><br>
            <p class="descricao">Agendei meu horário no Hair e foi super tranquilo. O site é direto, fácil de usar e sem complicações. Recomendo!</p>
        </div>
        <br><br>
    </section>

    <section id="contato">
        <h2> <i id="icone-contato" class="fa-solid fa-phone"></i> Contato | Sugestões de melhorias</h2>
        <div id="contato-usuarios">
            <form id="formContato">
                <i class="fa-solid fa-user"></i>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome"><br><br>

                <i class="fa-solid fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Digite seu email"><br><br>

                <i class="fa-solid fa-phone"></i>
                <input type="tel" id="telefone" name="telefone" placeholder="Digite seu Telefone">
                <br><br>

                <textarea name="texto-area" id="texto-area" rows="2" placeholder="Digite sua mensagem..."></textarea><br><br>

                <div id="info"></div><br>
                
                <button type="submit">Enviar mensagem</button>
            </form>
        </div>
    </section>

    <footer> &copy; 2025 Feito por <span>Bruno Melo de Morais</span> | <a href="https://www.linkedin.com/in/bruno-morais-6b0256235/" target="_blank">LinkedIn</a> | <a href="https://github.com/BrunoMeloMorais22" target="_blank">Github</a></footer>

    <script src="/static/js/index.js"></script>
</body>
</html>
