<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <title>Cabeleireiro</title>
</head>
<body>
    <header>
        <h1>Hair</h1>
        <p>Agende seu horário rápido e fácil diretamente pelo site</p><br><br>

        <p style="font-weight: 900;">Seu Nome: {{ nome}}</p>
        <p style="font-weight: 900;">Seu Email: {{ email }}</p>
    </header>
    <section>
        <div id="container">
            <h2> <i class="fas fa-cut"></i> Serviços Oferecidos</h2><br><br>
            <div class="cart">
                <h2>Corte de Cabelo</h2><br>
                <p>Corte de Cabelo masculino e feminino.</p><br>
                <p>R$30 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div>

            <div class="cart">
                <h2>Unhas</h2><br>
                <p>Serviço de Unhas (Mão e Pé)</p><br>
                <p>R$35 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div>

            <div class="cart">
                <h2>Progressiva</h2><br>
                <p>Progressiva para cabelo feminino</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Escova</h2><br>
                <p>Escova para cabelo feminino</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Sobrancelha</h2><br>
                <p>Serviço de Sobrancelha</p><br>
                <p>R$50 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 

            <div class="cart">
                <h2>Mechas - Luzes - Reflexos</h2><br>
                <p>Oferecemos Luzes, Mechas e Reflexos pra todos</p><br>
                <p>R$100 reais</p><br>
                <a href="/reserva"><button>Fazer reserva</button></a>
            </div> 
        </div>
    </section>

    <section>
        <div id="container2">
            <h2> <i class="fas fa-cut"></i> Promoções</h2>
            <br><br>
            <div class="promocao">
                <h2>Toda Quarta-Feira</h2><br>
                <p>Corte de Cabelo</p><br>
                <p>R$25 reais</p><br>
            </div>

            <div class="promocao">
                <h2>Mês Aniversário</h2><br>
                <p>No mês do seu Aniversário ganha 10% de desconto</p><br>    
            </div>

            <div class="promocao">
                <h2>Corte + Barba</h2><br>
                <p>Corte de Cabelo + Barba. Venha Aproveitar</p><br>
                <p>R$70 reais</p>    
            </div>
        </div>
    </section>

    <section id="depoimentos">
        <h2> <i class="fa-solid fa-star"></i> Depoimentos</h2><br>
        <div class="depoimentos-site">
            <img src="/assets/foto_perfil.jpg" alt="">
            <h2>Bruno Melo</h2>
            <div class="rating">
                <span data-value="5">★</span>
                <span data-value="4">★</span>
                <span data-value="3">★</span>
                <span data-value="2">★</span>
                <span data-value="1">★</span>
              </div>
            <p>Cliente Satisfeito</p><br>
            <p class="descricao">Agendei meu horário no Hair Surprime e foi super tranquilo. O site é direto, fácil de usar e sem complicações. Recomendo!</p>
        </div>
        
        <div class="depoimentos-site">
            <img src="/assets/depoimento.jpg" alt="">
            <h2>Maria Luiza</h2>
            <div class="rating">
                <span data-value="4">★</span>
                <span data-value="3">★</span>
                <span data-value="2">★</span>
                <span data-value="1">★</span>
              </div>
            <p>Cliente Satisfeito</p><br>
            <p class="descricao">Agendei meu horário no Hair Surprime e foi super tranquilo. O site é direto, fácil de usar e sem complicações. Recomendo!</p>
        </div>
    </section>
</body>
</html>
