<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/reserva_sucesso.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Reserva feita com sucesso</h1><br>
        <p id="contato">Entraremos em contato por email</p><br>
        <p>Nome: {{ nome }}</p>
        <p>Email: {{ email }}</p>
        <br>
        <button><a href="/">Voltar ao menu principal</a></button>
    </header>
</body>
</html>